# 3. Dictionary :

In [ ]:
# 1. Dictionary is collection element in the form of key, value pairs.
# 2. Syntax : dict_name ={ key1 : value1, key2 : value2, key3 : value3,....}
# 3. values are accessed through keys.
# 4. mutable.
# 5. functions
# 6. Examples

In [1]:
# create a dictionary to stroe student s info => roll, name, marks,

d1 = {'Roll' : 2305 , "Name" :"Gayatri Chavhan", "Marks": 66.7}
print(d1 , type(d1))

{'Roll': 2305, 'Name': 'Gayatri Chavhan', 'Marks': 66.7} <class 'dict'>

In [6]:
# create a dictionary to store employee information.
S1 = {"Employee_id" : 12, "Name" : "Gayatri Chavhan", "Salary" : 49000 , "Department" : "Digital-Marketing", "Deparment_id" : 4,"loc" : "Pune"} 
print(S1 , type(S1))

{'Employee_id': 12, 'Name': 'Gayatri Chavhan', 'Salary': 49000, 'Department': 'Digital-Marketing', 'Deparment_id': 4, 'loc': 'Pune'} <class 'dict'>

In [ ]:
# Indexing =>
# syntax : dict_name[key]

In [ ]:
# Display => "abc xyz", "" ,""

In [7]:
print(d1["Name"])

Gayatri Chavhan

In [10]:
print(S1["Employee_id"])
print(S1["Name"])
print(S1["Salary"])
print(S1["Department"])
print(S1["Deparment_id"])
print(S1["loc"])
print(d1["Marks"])

12
Gayatri Chavhan
49000
Digital-Marketing
4
Pune
66.7

# Dictionary of lists and tuples.

In [ ]:
# create a dictionary with 5 info of products. => Id , Name , Quantity, Cost, Weight,

In [12]:
d3 = {"Id" : (1011, 1012,1013,1014 ),
     "Name": ["xyz","ABC","Qrs","pqr"],
     "Quantity" : [40,60,70,70],
     "Cost" :(349,345,345,890),}
print((d3))

{'Id': (1011, 1012, 1013, 1014), 'Name': ['xyz', 'ABC', 'Qrs', 'pqr'], 'Quantity': [40, 60, 70, 70], 'Cost': (349, 345, 345, 890)}

In [ ]:
# 1.Display cost of all istems
# 2. Display "xyz"
# 3. Display info od 1013.
# 4. Display net Quantity available..
# 5. Update 250 with 299.

In [14]:
# 1.Display cost of all istems
d3["Cost"]

(349, 345, 345, 890)

In [18]:
# 2. Display "xyz"
d3["Name"][1]

'ABC'

In [24]:
# 3. Display info od 1013.
i = d3 ["Id"].index(1013)   # Index of 1013
print("Id : ", d3["Id"][i])
print("Name : ",d3["Name"][i])
print("Quntity : ",d3["Quantity"][i])
print("Cost : ",d3["Cost"][i])

Id :  1013
Name :  Qrs
Quntity :  70
Cost :  345

In [25]:
# 4. Display net Quantity available..

s = 0
for i in d3["Quantity"]:
    s = s + i
print(s)

240

In [26]:
d3 ['Quantity'][1]

60

# Functions :

In [27]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
# 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'

In [29]:
# copy()
d11 = {'roll' : 123564, 'Name': 'Gayatri', 'Marks': 67.56}
print((d11))

{'roll': 123564, 'Name': 'Gayatri', 'Marks': 67.56}

In [ ]:
# clear()
de

In [ ]:
# 'items
d1 ={}

In [32]:
# Keys
print(d1.keys())
print(d1.keys())
print(d1.keys())

dict_keys(['roll', 'Name', 'Marks'])
dict_keys(['roll', 'Name', 'Marks'])
dict_keys(['roll', 'Name', 'Marks'])

In [31]:
# values
print(d1.values())
print(d1.values())
print(d1.values())

dict_values([123564, 'Gayatri', 67.56])
dict_values([123564, 'Gayatri', 67.56])
dict_values([123564, 'Gayatri', 67.56])

In [35]:
# Fromekeys : Create a new dictionary with keys.

d4 = {}
d4 = d4.fromkeys(["product_id","Product_name","Description"])
d4

{'product_id': None, 'Product_name': None, 'Description': None}

In [38]:
# Get : Returns the value for key if key is in the dictionary, else default.

print(d1)
d1.get(())                   # default 
d1.get("Name")

{'roll': 123564, 'Name': 'Gayatri', 'Marks': 67.56}

'Gayatri'

In [39]:
# Pop
d12 = {'roll' : 123564, 'Name': 'Gayatri', 'Marks': 67.56}

v1 = d1.pop("roll")
print(d1)

{'Name': 'Gayatri', 'Marks': 67.56}

In [ ]:
# pop item

In [40]:
# Update
d12 = {'roll' : 123564, 'Name': 'Gayatri', 'Marks': 67.56}

# Update Marks with 66.99
d1 ["Marks"] = 89.90
d1.update({"Marks : 45.99"}) 
print(d1)

{'Name': 'Gayatri', 'Marks': 89.9}

## 4. Set

In [ ]:
# set is unordered collection of elements.
# Syntax : set_name ={}
# Homogenous / Heterogenous
# Index = ?
# Loops
# Functions
# Significance/ Example.
# Repetion of values is not allowed in set.

In [ ]:
# Membership Operators : in, not in

In [49]:
x = 109
S1 = [ 101, 102, 103, 104, 105]
for i in S1 :
    print(i,x)
    if i== x :
        print("yes")
        break

101 109
102 109
103 109
104 109
105 109

In [46]:
a1 = [ 101, 102, 103, 104, 105]
a2 = [ 105, 103, 107, 108, 109]

# Common Numbers
for i in a1:
    if i in a2:
        print(i)

103
105

# HOME WORK :

In [ ]:
# 2. Display unique value of a1.
# 3. Display of a2.
# 4. Display all values
# 5. Display all but common number.

In [51]:
# Create a Set.
s11 = {11,22,33,44,55,66}                              #Homogeneous
print(s11, type(s11))

{33, 66, 22, 55, 11, 44} <class 'set'>

In [53]:
# Heterogeneous

s2 = { 23,23,45,57, "Gayu", True, False}
print(s2)

{False, True, 23, 57, 'Gayu', 45}

In [ ]:
# => To identify unique values from given Sequence.

In [65]:
s3 =  [12,4,657,43,78,90,43,21,33,55,55,67,43]

# Values Count each item.
s4 = {}
# identify Unique values.    convert into a set
for i in set(s3) :
    print(i, s3.count(i))
    s4.update({i : s3.count(i)})
print(s4)

33 1
67 1
4 1
43 3
12 1
78 1
657 1
21 1
55 2
90 1
{33: 1, 67: 1, 4: 1, 43: 3, 12: 1, 78: 1, 657: 1, 21: 1, 55: 2, 90: 1}

In [60]:
s3.count(12)

1

In [ ]:
# Functions

In [ ]:
a1 = [ 101, 102, 103, 104, 105]
a2 = [ 105, 103, 107, 108, 109]

In [66]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 
'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update'

In [67]:
# 'copy' : Return a snallow copy of a set

a1 = { 101, 102, 103, 104, 105}

b1 = a1.copy()
print(b1)

{101, 102, 103, 104, 105}

In [68]:
# Clear()

b1.clear()
print(b1)

set()

In [69]:
# Disjoint()

a1 = {34,34,67}
a2 = {56,89,20}
a1.isdisjoint(a2)

True

In [73]:
# issuperset(), issubset()

a1 = {34,34,67,77,56,20,89}
a2 = {56,89,20}
print(a1.issuperset(a2))
print(a2.issubset(a1))

True
True

In [75]:
# Union()

a1 = {34,34,67,77,56,20,89}
a2 = {56,89,20}

a3 = a1.union(a2)
print(a3)

{34, 67, 77, 20, 56, 89}

In [76]:
# Intersection()

a1 = {34,34,67,77,56,20,89}
a2 = {56,89,20}
a1.intersection(a2)

{20, 56, 89}

In [78]:
# Difference()

a1 = {34,34,67,77,56,20,89}
a2 = {56,89,20}

print(a1.difference(a2))

{34, 67, 77}

In [79]:
# Symmetric Difference()

a1 = {34,34,67,77,56,20,89}
a2 = {56,89,20}

print(a1.symmetric_difference(a2))

{34, 67, 77}