In [1]:
# wap to display "Hello world !"
print("Hello world !")

Hello world !

In [2]:
# WAP to display "welcome to fusion Institute !"
# ADD a line kharadi , pune.
print("welcome to fusion Institute !, Kharadi Pune")

welcome to fusion Institute !, Kharadi Pune

In [3]:
print("welcome to fusion Institute !")
print("Kharadi , Pune")

welcome to fusion Institute !
Kharadi , Pune

In [8]:
print("welcome to fusion Institute !", end = "...")
print("Kharadi , Pune")

welcome to fusion Institute !...Kharadi , Pune

In [17]:
print("a\n")
print("\na\t")
print("\t\ta")
print("\n\na")

a


a
		a


a

In [22]:
#4. WAP to display "Congratulations ! to all pass students..."
print("Congratulations !", end = "----", )
print("to all pass students !!!!")

Congratulations !----to all pass students !!!!

In [24]:
# 5. WAP to display the "name,email,mobile ..."
print("\nName","\nEmail","\nMobile")

Name
Email
Mobile

DATA TYPES

In [10]:
a1 = 100
a1 = "abc"
print(a1,type(a1))

abc <class 'str'>

In [11]:
#integer
a1 = 2900
print(a1, type(a1))

2900 <class 'int'>

In [13]:
# float
b1 = 11.146
print(b1, type(b1))

11.146 <class 'float'>

In [15]:
# complex
c1 = 5+ 6j
print(c1, type(c1))

(5+6j) <class 'complex'>

In [16]:
#strings
d1 = "gayatri chavhan"
print(d1, type(d1))

gayatri chavhan <class 'str'>

In [17]:
#BOOLEAN
e1 = 10 < 20
print(e1, type(e1))

True <class 'bool'>

In [20]:
# store roll number, name, marks of students in  memory
# and Display it.
r1 = 1011
nm = "gayatri"
m1 = 47.33
# display output
print("Roll Number :",r1)
print("Name :",nm)
print("Marks :",m1)

Roll Number : 1011
Name : gayatri
Marks : 47.33

In [30]:
# Store Employee ID, Name , Department , Salary.
#Display it.
id = 2011
nm = "Nikita Magar"
dept = "Developer"
sal = 34500

print ("\t\t--------Employee Information---------")
print("\t\t Employee Id         :", id)
print("\t\t Employee Name       :", nm)
print("\t\t Employee salary     :", sal)
print("\t\t Employee Department :", dept)

		--------Employee Information---------
		 Employee Id         : 2011
		 Employee Name       : Nikita Magar
		 Employee salary     : 34500
		 Employee Department : Developer

In [31]:
#Accept name from user.
input("Enter Your Name :")
print("Hello")

Enter Your Name : gayatri chavhan

Hello

In [34]:
x = input("Enter Your Name :")
print("Hello : x")

Enter Your Name : gayatri chavhan

Hello : x

In [38]:
x = input("Enter Your Name :")
print("Hello : ", x )

Enter Your Name : gayatri chavhan

Hello :  gayatri chavhan

# variable ! y = 100

In [ ]:
# WAP to accept username, password from User.
# Store It.
# Display It.

# Taking Input from User
u = input ("Enter Username :")
p = input ("Enter Password :")

# Display Username, Password.
print("Username u")

In [48]:
# Taking Input from User
u = input ("Enter Username :")
p = input ("Enter Password :")

# Display Username, Password.
print("Username :", u)
print("Password :", p)

Enter Username : gayatri chavhan
Enter Password : Gayatri@21

Username : gayatri chavhan
Password : Gayatri@21

In [53]:
# WAP to accept name, Dept , Salary  from Employee.
# Store It.
# Display Employee Info.

# Taking Input from User
n = input("Enter EmpName :")
dep = input("Enter DepName :")
sal = input("Enter Salary :")

# Display name,Dept,Salary.
print("\n\t\t--------Employee Information--------")
print("\t\tName       :", n)
print("\t\tDepartment :", dep)
print("\t\tSalary     :", sal)

Enter EmpName : Gayatri Chavhan
Enter DepName : Digital Marketing
Enter Salary : 34000

		--------Employee Information--------
		Name       : Gayatri Chavhan
		Department : Digital Marketing
		Salary     : 34000

In [ ]:
# Taking Input From User
# Storing it in memory
# Display It.

# Data Types :

In [6]:
# Numerical Data Types

100 <class 'int'>

In [8]:
# 1. Integer :
n1 = 100
print(n1 , type (n1))

100 <class 'int'>

In [9]:
# 2. float :
n2 = 200.45
print(n2, type(n2))

200.45 <class 'float'>

# Operators :

In [11]:
# 1 . Arthhimetic operators : +, - , /, //, % , ** , *

In [12]:
print(10+30)     # addition
print(20 - 5)    # Substraction
print(4*6)       # Multiplication
print(20/7)      # Division


print(20 // 7)    # floor division
print(20 % 34)     # Remainder

print(12 ** 2)

40
15
24
2.857142857142857
2
20
144

In [15]:
# Taking Input From User              input()
# Starting it In memory               data type
# Typecasting                         str -> int , float
# Arithmetic Expressions              operators + - * //   /  % **
# Display It.                         print()

In [22]:
# 1 . WAP to display area of rectangle.

# step-1 - Taking Input from User
ln = float (input("Enter Length    :"))  #Typecasting string -> float
br = float (input("Enter Breadth   :") ) #Typecasting string -> float
# step-2 - Expression
ar = ln + br

# step-3 - Display Outcomes
print('\n\t\t------------Area Of Rectangle -------------')
print("\n\t\tLength Of Rectangle : ",ln)
print("\t\tBreadth Of Rectangle : ",br)
print ("\t\tArea of Rectangle : ",ar)

Enter Length    : 567
Enter Breadth   : 7895

		------------Area Of Rectangle -------------

		Length Of Rectangle :  567.0
		Breadth Of Rectangle :  7895.0
		Area of Rectangle :  8462.0

# HOME WORk And CLASS WORK

In [23]:
# 2. WAP to display area of Square.
# 3. WAP to display area of Paraellelogram            
# 4. WAP to display area of rhombus.



# Display Surface area, Volume for 
# 1. cube
# 2. cuboid
# 3. sphere
# 4. hemi sphere

In [28]:
# 2. WAP to display area of Square.

# Taking Input From User   
s = float(input("Enter side of square  :")) #Typecasting string -> float

#Expression
a = s ** 2

#Display Outcomes
print('\n\t\t------------Area Of Sqaure -------------')
print("\t\t Side Of Square :",s)
print ("\t\t Area Of Square :",a)

Enter side of square  : 45

		------------Area Of Sqaure -------------
		 Side Of Square : 45.0
		 Area Of Square : 2025.0

In [5]:
# 5. WAP to convert Indian Ruppes into dollars.

# Taking Input from user
i = int(input("Enter Amount in INR"))
# Expression                 1 Doller = 90.91
d = i/90.19 
# Output
print(i,"INR = ",d, "USD")

Enter Amount in INR 794905

794905 INR =  8813.671138707174 USD

In [8]:
# 6. WAP to convert Indian Rupees into Euro
# Taking Input form User
i = int(input("Enter Amount in INR"))
# Expression                   1 Euro = 104.99 INR
e = i/104.99              
# Display Output
print(i,"INR = ", round(e,2), "Euros")

Enter Amount in INR 6438643

6438643 INR =  61326.25 Euros

In [28]:
# 7. WAP to convert distance from meters to feet.

# Taking Input form User
m = int(input("Enter Distance : "))
# Expression
f = m * 3.28
# Display Output
print("-------------Meters To Feet ------------")
print(m,"Meters = ", round(f,2), "feets")

Enter Distance :  8

-------------Meters To Feet ------------
8 Meters =  26.24 feets

In [34]:
# 8. WAP to convert temp from fahrenheit to celsius.

# Taking Input form User
f = float(input("Enter temp in fahrenheit : "))
# Expression
c = (f-32)/1.8
# Display Output
print("-------------Meters To Feet ------------")
print(f,"fahrenheit = ",round(c,1),"celsius")

Enter temp in fahrenheit :  78

-------------Meters To Feet ------------
78.0 fahrenheit =  25.6 celsius

In [57]:
# 9. WAP to display Marksheet of student for exam with 5 Subjects of 100 marks each.

# Taking Input from User
print("\t-----------Information Of Students--------------")
nam = (input("\nEnter Your Name : "))
std = int(input("Enter Your Class : "))
rn = int(input("Enter You Roll-No : "))
print("\n\t-----------Subject Information Of Students--------------")
m1 = int(input("Enter Marks Of Subject - 1 : "))
m2 = int(input("Enter Marks Of Subject - 2 : "))
m3 = int(input("Enter Marks Of Subject - 3 : "))
m4 = int(input("Enter Marks Of Subject - 4 : "))
m5 = int(input("Enter Marks Of Subject - 5 : "))
m6 = int(input("Enter Marks Of Subject - 6 : "))
m7 = int(input("Enter Marks Of Subject - 7 : "))
# Expression
tot = m1 + m2 + m3 + m4 + m5 + m6 +m7
per = tot /7
#Diplay Output
print("\n\n")
print("-------------------------- ~ MARKSHEET ~ --------------------------")
print()
print("\t\t Python           :",m1)
print("\t\t Java             :",m2)
print("\t\t Javascript       :",m3)
print("\t\t Machine Learning :",m4)
print("\t\t SQL              :",m5)
print("\t\t TOC              :",m6)
print("\t\t Deep Learning    :",m7)
print("---------------------------------------------------------------------")
print("\t Total Marks : ",tot, "\t Percentage Marks : ",per,"%")

	-----------Information Of Students--------------

Enter Your Name :  Gayatri Sanjay Chavhan
Enter Your Class :  54
Enter You Roll-No :  678

	-----------Subject Information Of Students--------------

Enter Marks Of Subject - 1 :  67
Enter Marks Of Subject - 2 :  89
Enter Marks Of Subject - 3 :  2345
Enter Marks Of Subject - 4 :  89
Enter Marks Of Subject - 5 :  78
Enter Marks Of Subject - 6 :  24
Enter Marks Of Subject - 7 :  78

-------------------------- ~ MARKSHEET ~ --------------------------

		 Python           : 67
		 Java             : 89
		 Javascript       : 2345
		 Machine Learning : 89
		 SQL              : 78
		 TOC              : 24
		 Deep Learning    : 78
---------------------------------------------------------------------
	 Total Marks :  2770 	 Percentage Marks :  395.7142857142857 %

In [1]:
# WAP to display final bill if 40% discount is applicable.

#Taking Input from Uder
b =  float (input("Enter Amount :"))
# Expression
d = 40/ 100 *b
# Output
print("--------------- ~ Bill ~ -----------------------")
print("\t\t Bill Amount :",b)
print("\t \t Discount :",d)
print("\t\t Final Amount :",b - d)

Enter Amount : 2300

--------------- ~ Bill ~ -----------------------
		 Bill Amount : 2300.0
	 	 Discount : 920.0
		 Final Amount : 1380.0

In [4]:
# 11. 50% Discount is is offered on 200 Rs Pizza by "ABC firm on which 5% GST us applicable"
# if ordered through delievery partner.
# create a final bill for pizzas ordered by User.

#Taking Input from User
q = int(input("Enter Quantity :"))
#Expressions
total =  200 * q
disc = 50 / 100 * total
gst = 5/100 *(total - disc)
final = total - disc + gst

# Display Output
print("\n")
print("---------------- ~ Final Bil ~ ------------------")
print("\t\t Quantity Ordered    :",q)
print("\t\t Total Bill          :",total)
print("\t\t 50% Disc            :",disc)
print("\t\t 5% GST              :",gst)
print("\t\t Final Bill          :",final)

Enter Quantity : 7

---------------- ~ Final Bil ~ ------------------
		 Quantity Ordered    : 7
		 Total Bill          : 1400
		 50% Disc            : 700.0
		 5% GST              : 35.0
		 Final Bill          : 735.0

In [6]:
# 12. WAP to display simple interest and final amount for 
# amount invesed by User.
# SI = PRT / 100

# Taking Input from User
P = int(input("Enter Principal :"))
R = float(input("Enter RDI     :"))
T = float(input("Enter Tenure  :")) 
# Expression
SI = P + R * T /100
# Display Output
print("Simple Interest  :",SI)
print("Final Amount    :",P + SI)

Enter Principal : 6700
Enter RDI     : 78
Enter Tenure  : 90

Simple Interest  : 6770.2
Final Amount    : 13470.2

# HOME WORK

In [ ]:
# 13. WAP to display intrest,earned, final amount if inerest is compunded

In [ ]:
# 1. write a python program to accept two numbers from the user and display their
# sum, difference, product, and quotient.
# 2. Accept a user's age as input and print whether the input is of type 'str' or 'int'.
# Then convert it appropriately and reprint the type.
# 3. Take a floating-point number as input and convert it into:
#    * an integer
#    * a string
# 4. Accept three numbers from the user in a single line (space-separated) and calculate their
   **average**.
       
# 5. Write a program that accepts a number as input and prints the
# **square and cube** of the number.

In [6]:
# 13. WAP to display intrest,earned, final amount if inerest is compunded
# Taking Input from User
P = int(input("Enter Principal :"))
R = float(input("Enter RDI :"))
N = float(input("Enter Tenure :"))
# Expression
A =  P * (1 + R / 100) ** N
# Display Output
print("---------------- ~ Final ~ ------------------")
print("Intrest Earned :",round(A-P,2))
print("Final Amount :",round(A,2))

Enter Principal : 56000
Enter RDI : 7
Enter Tenure : 8

---------------- ~ Final ~ ------------------
Intrest Earned : 40218.43
Final Amount : 96218.43

In [19]:
# 14. WAP to display returns on SIP.
# Taking Input from User.
P = int(input("Enter Monthly Investment :"))
R = float(input("Enter Yearly RDI :"))
N = float(input("Enter Time Period In Years :"))
# Expressions
# Convert Yearly ROI into Monthly ROI
r = R / 12 / 100
#Convert Years into Months
n = N * 12
A = P * (((1 + r) ** n) - 1) * (1+r) / r
#Display Outcomes
print("\n")
print("\n---------------- ~ Final ~ ------------------")
print("Invested Amount  :", P * n )
print("Estimated Return :", A - (P * n))
print("Final Amount     : ",round(A,2))

Enter Monthly Investment : 10000
Enter Yearly RDI : 12
Enter Time Period In Years : 5

---------------- ~ Final ~ ------------------
Invested Amount  : 600000.0
Estimated Return : 224863.66554973228
Final Amount     :  824863.67

In [20]:
# 15. WAP to Implement EMI calculator.
# Taking Input from User.
P = int(input("Enter Monthly Investment :"))
R = float(input("Enter Yearly RDI :"))
N = float(input("Enter Time Period In Years :"))
# Expressions
# Convert Yearly ROI into Monthly ROI
r = R / 12 / 100
#Convert Years into Months
n = N * 12
E = P * r * ((1 + r) ** n) / ((1 + r) ** n) - 1
# Display Outcomes
print("\n")
print("\n---------------- ~ Final ~ ------------------")
print("Monthly EMI :", round(E,2) )
print("Total Amount :", E * n)
print("Interest     : ",(E * n)- P)

Enter Monthly Investment : 1000000
Enter Yearly RDI : 14
Enter Time Period In Years : 10

---------------- ~ Final ~ ------------------
Monthly EMI : 11665.67
Total Amount : 1399880.0000000002
Interest     :  399880.00000000023

In [22]:
# 16.WAP to implement CAGR calulator
# Taking Input from user.
B = int(input(" Beginning Value        :"))
E = int(input(" Ending Value           :"))
t = float(input("Enter Tenure in Years :"))

# Expression
CAGR = ((E/B) ** (1/ t))-1

# Display Output
print("Compound Annual Growth Rate :",round(CAGR * 100,2))

 Beginning Value        : 100000
 Ending Value           : 2300000
Enter Tenure in Years : 13

Compound Annual Growth Rate : 27.28

In [25]:
# 17. WAP to display roots of quadratic equation

# Taking Input from User
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = int(input("Enter c : "))
# Expression 

r1 = (-b + ((b ** 2) - 4 * a * c) ** (1/2)) / (2 * a)
r2 = (-b  - ((b ** 2) - 4 * a * c) ** (1/2)) / (2 * a)
# Display  Output
print(r1,r2)

Enter a :  1
Enter b :  10
Enter c :  21

-3.0 -7.0

# HOME WORK

In [ ]:
# 18. WAP to display area of tringle with three sides. a=4,b=6,c=8

In [ ]:
# 1. WAP to accept name and age of user .
# 2. WAP to accept Product_id, Product_name,Quantity from user and Display It.
# 3. WAP to display total amount if n-itms are purchased by user each worth 100 RS.
# 4.WAP to accept roll_Number, Name ,Marks. Display values entered by user and their data type.Convert marks into float.
# 5. WAP to display area of rectangle.