# Sequences :

In [ ]:
# 1. List.
# 2. Tuple.
# 3. Dictionary
# 4. Set.
# 5. Strings.

# 1. List

In [ ]:
# 1. List is collectionn of elements.
# 2. Syntax : list_name = [,,,,...]
# 3. List can be Homogenous/ heterogeneous.
# 4. To access elements :
#   Indexing :
#      1. positive Index
#      2. Negative Index
# Negative    -10 -9  -8    -7  -6   -5    -4   -3     -2      -1
#       a2 = [11, 22, 44, 1.2, 1.3, 1.4, True, False, "abc", "xyz"]
# positive  : 0   1   2    3    4    5     6    7       8      9
#    Slicing
#    Lists are Mutable.
#    Functions
#    List Comprehension.
#    Loops in List.

In [7]:
# Example :
# Homogeneous List :

a1 = [11,22,44,66,78,99]
print(a1,type(a1))

[11, 22, 44, 66, 78, 99] <class 'list'>

In [3]:
# Heterogeneous List.
a2 = [11,22,44,66,78,99,1.2,1.3,1.4, True, False, "abc"]
print(a2,type(a2))

[11, 22, 44, 66, 78, 99, 1.2, 1.3, 1.4, True, False, 'abc'] <class 'list'>

In [4]:
a2

[11, 22, 44, 66, 78, 99, 1.2, 1.3, 1.4, True, False, 'abc']

## Indexing :

In [ ]:
# Syntax : List_name[index]

In [ ]:
# Negative    -10 -9  -8    -7  -6   -5    -4   -3     -2      -1
#       a2 = [11, 22, 44, 1.2, 1.3, 1.4, True, False, "abc", "xyz"]
# positive  : 0   1   2    3    4    5     6    7       8      9

In [12]:
print(a1)

a2 = [10,20,56,57,78,'abc','xyz',True, False]
print(a2)

[11, 22, 44, 66, 78, 99]
[10, 20, 56, 57, 78, 'abc', 'xyz', True, False]

In [17]:
# Display 10, 22, 55,99, 2.3, 'abc',false

print(a2[0], a2[-9])
print(a2[0], a2[-8])
print(a2[6], a2[-6])
print(a2[6], a2[-3])

10 10
10 20
xyz 57
xyz xyz

In [18]:
# Loops
# for loop :
a2 = [10,20,56,57,78,'abc','xyz',True, False]

for i in a2 :
    print(i, end ="\t")

10	20	56	57	78	abc	xyz	True	False

In [23]:
# while loops
a2 = [10,20,56,57,78,'abc','xyz',True, False]
i = 0                                 # intitalization
while i<= 8 :                         # Condition
    print(a2 [i], end ="\t")
    i =  i + 1                        # Increment

10	20	56	57	78	abc	xyz	True	False

# Slicing :

In [ ]:
# Syntax : List_name [start = 0(inclusive): end = Last (exclusive): sep = 1 ]

In [ ]:
# Negative    -10 -9  -8    -7  -6   -5    -4   -3     -2      -1
#       a2 = [11, 22, 44, 1.2, 1.3, 1.4, True, False, "abc", "xyz"]
# positive  : 0   1   2    3    4    5     6    7       8      9

In [26]:
a2 = [11, 22, 44, 1.2, 1.3, 1.4, True, False, "abc", "xyz"]

# disply first 5 elements :
print(a2[0 : 4],a2[:8],a2[:-6])

[11, 22, 44, 1.2] [11, 22, 44, 1.2, 1.3, 1.4, True, False] [11, 22, 44, 1.2]

In [ ]:
# Using slicing display following elements.

#.1. [22,33,1.2,2.3,3.4,'abc','xyz]
# 2. [2.3,3.4,'abc','xyz',True]
# 3. ['abc','xyz',True, False]
# 4. [11,33,2.3,'abc',True]
# 5. First 3 elements.
# 6. Last 4 elements.

In [56]:
#.1. [22,33,1.2,2.3,3.4,'abc','xyz]

a2 = [11, 22, 44, 1.2, 2.3, 3.4, "abc", "xyz",True, False,]
print(a2[1 : 8])
print(a2[1 : -2])
print(a2[-9 : -2])

[22, 44, 1.2, 2.3, 3.4, 'abc', 'xyz']
[22, 44, 1.2, 2.3, 3.4, 'abc', 'xyz']
[22, 44, 1.2, 2.3, 3.4, 'abc', 'xyz']

In [59]:
# 2. [2.3,3.4,'abc','xyz',True]

a2 = [11, 22, 44, 1.2, 2.3, 3.4, "abc", "xyz",True, False,]
print(a2[4 : 9])
print(a2[-6 : ])

[2.3, 3.4, 'abc', 'xyz', True]
[2.3, 3.4, 'abc', 'xyz', True, False]

In [62]:
# 3. ['abc','xyz',True, False]
a2 = [11, 22, 44, 1.2, 2.3, 3.4, "abc", "xyz",True, False]
print(a2[-4: 10])
print(a2[6 : 10])

['abc', 'xyz', True, False]
['abc', 'xyz', True, False]

In [69]:
# 4. [11,33,2.3,'abc',True]
a2 = [11, 22, 33, 1.2, 2.3, 3.4, "abc", "xyz",True, False]
print(a2[0: ])
print(a2[-10 : ])
print(a2[ : 9 : 2])

[11, 22, 33, 1.2, 2.3, 3.4, 'abc', 'xyz', True, False]
[11, 22, 33, 1.2, 2.3, 3.4, 'abc', 'xyz', True, False]
[11, 33, 2.3, 'abc', True]

In [52]:
# 5. First 3 elements.
a2 = [11, 22, 44, 1.2, 2.3, 3.4, "abc", "xyz",True, False]
print(a2[0: 3])
print(a2[0: -7])

[11, 22, 44]
[11, 22, 44]

In [67]:
# 6. Last 4 elements.
a2 = [11, 22, 44, 1.2, 2.3, 3.4, "abc", "xyz",True, False]
print(a2[0: -3])
print(a2[-4: ])

[11, 22, 44, 1.2, 2.3, 3.4, 'abc']
['abc', 'xyz', True, False]

# List are Mutable :

In [ ]:
# 1. add
# 2. Update
# 3. Delete

In [73]:
# 2. Update :
a1 = [11,22,33,44,55]
# Update 33 with 99.

a1[2] = 99
print(a1)

# Update last value with -99
a1[-1]=-99
print(a1)

[11, 22, 99, 44, 55]
[11, 22, 99, 44, -99]

In [75]:
# 3. Deletion :
a1 = [11,22,33,44,55]

# delete 33.
del a1[2]
print(a1)

[11, 22, 44, 55]

In [83]:
# 4. Add :
a1 = [11,22,33,44,55]

# Add 345.
a1[0]=345
print(a1)

[345, 22, 33, 44, 55]

In [ ]:
# Exercise :
a3 = [11,22,33,44,55,'yash','virat','rohit','pooja','neha',1.1,2.2,3.3,4.4,5.5]

# 1 . [11,22,33,44,55]
# 2 . ['yash','ABC','virat','rohit','xyz','neha']
# 3. ['Lmn',55, 'pooja','rst']
# 4. ['virat','rohit','pooja']
# 5. [11,22,4.4,5.5]

In [1]:
# 1 . [11,22,33,44,55]

a3 = [11,22,33,44,55,'yash','virat','rohit','pooja','neha',1.1,2.2,3.3,4.4,5.5]

del a3[5 :]
print(a3)

[11, 22, 33, 44, 55]

In [2]:
# 2 . ['yash','ABC','rohit','xyz','neha']

a3 = [11,22,33,44,55,'yash','virat','rohit','pooja','neha',1.1,2.2,3.3,4.4,5.5]

del a3[:5]             # Deleting first 5 elements
del a3 [-5 :]          # Delete Last 5 elements

a3[1: :2]=['abc','xyz']        # Updating
print(a3)

['yash', 'abc', 'rohit', 'xyz', 'neha']

In [25]:
# 3. ['Lmn',55, 'pooja','rst']

a3 = [11,22,33,44,55,'yash','virat','rohit','pooja','neha',1.1,2.2,3.3,4.4,5.5]

a3= a3 [ : :4]
a3 [0] = 'Lmn'
a3[-1] ='rst'
print(a3)

['Lmn', 55, 'pooja', 'rst']

In [32]:
# 4. ['virat','rohit','pooja']

a3 = [11,22,33,44,55,'yash','virat','rohit','pooja','neha',1.1,2.2,3.3,4.4,5.5]

del a3 [ :6]
del a3 [-6 :]
print(a3)

['virat', 'rohit', 'pooja']

In [48]:
# 5. [11,22,4.4,5.5]

a3 = [11,22,33,44,55,'yash','virat','rohit','pooja','neha',1.1,2.2,3.3,4.4,5.5]
del a3 [-13 :13]
print(a3)

[11, 22, 4.4, 5.5]

## Function of List.

In [49]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# 'append', 'clear', 'copy', 'count', 'extend', 
#'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

In [ ]:
# List is mutable

# Addition : 'append','insert','extend'
# Update  :
# Delete  : 'pop', 'remove'

In [2]:
# Copy()  : Return a shallow copy of the list.
a1 = [11,22,33,44,55]
a2 = a1.copy()
print(a2)

[11, 22, 33, 44, 55]

In [5]:
# clear()    : remove the element from the list

a1 = [11,22,33,44,55]

a1.clear()
print(a1)

[]

In [9]:
# index()  : Return first index of value.

a1 = [11,22,33,44,55]

a1.index(11)

0

In [12]:
# Count :
a1 = [11,22,33,44,55,66,33,55,11,11]
a1.count(11)

3

# addition :

In [13]:
# append() : Append object to the end of the list.
a1 = [11,22,33,44,55]
a1.append(55)
print(a1)

[11, 22, 33, 44, 55, 55]

In [14]:
# extend()

a1 = [11,22,33,44,55]
a1.extend([11,222,"fgh",555])
print(a1)

[11, 22, 33, 44, 55, 11, 222, 'fgh', 555]

In [15]:
# insert ()
a1 = [11,22,33,55,33]
a1.insert(2,"asd")
print(a1)

[11, 22, 'asd', 33, 55, 33]

# deletion functions :

In [20]:
# pop
a1 = [11,22,33,44,55]
a1.pop(-1)
print(a1)

[11, 22, 33, 44]

In [22]:
# remove
a1 = [11,22,33,44,55]
a1.remove(33)
print(a1)

[11, 22, 44, 55]

In [24]:
# Reverse   : mutable change the all data
a1 = [11,22,33,44,55]

a1.reverse()
print(a1)

[55, 44, 33, 22, 11]

In [26]:
# Sort  : 
a1 = [11,22,333,441,567,3221,44,55]
a1.sort()
print(a1)

[11, 22, 44, 55, 333, 441, 567, 3221]

In [27]:
# sort by desecnding
a1 = [12,353,543,65,6767,86767,677]
a1.sort(reverse = True)
print(a1)

[86767, 6767, 677, 543, 353, 65, 12]

# Exercise :

In [ ]:
m1 = [23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]

# 1. Create a separate list of Pass students.
# 2. Create a list of fail students,
# 3. average marks of all.
# 4. average marks of pass students.
# 5. Give 3 toppers.
# 6. Give index values of 3  toppers.
# 7. Allot 1 extra marks to all.
# 8. If university allows 5 grace marks, allot grace marks to students.

In [32]:
# 1. Create a separate list of Pass students.

m1 = [23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
p = []
for i in m1 :
    if i >= 40:
        p.append(i)
print(p)

[45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 44, 77, 88, 99]

In [33]:
# 2. Create a list of fail students

m1 = [23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
p=[]
for i  in m1 :
    if i <=40:
        p.append(i)
print(p)

[23, 34, 32, 21, 22, 33]

In [35]:
# 3. average marks of all.
m1 = [23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
s=0   #Summation
c=0   #Count

for i in m1 :
  
    s = s + i 
    c = c + 1 
print(s/c)

58.61904761904762

In [38]:
# 4. average marks of pass students.

m1 = [23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]

s = 0   #Summation
c = 0   #Count

for i in m1 :
    if i>= 40:
        s = s + i 
        c = c + 1 
print(s/c)

71.06666666666666

In [41]:
# 5. Give 3 toppers.

m1 = [23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
m1.sort()
print(m1[-3 :])

[89, 98, 99]

In [48]:
# 6. Give index values of 3  toppers.

m1 = [23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
m2 = m1.copy()
m2.sort()
t = m2[-3 :]

for i in t :
    print(i,"\t",m1.index(i))

89 	 6
98 	 7
99 	 20

In [53]:
# 7. Allot 1 extra marks to all.

m1 = [23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
m2 = []
for i in m1:
    m2.append(i+ 1)
print(m1)
print(m2)

[23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
[24, 35, 46, 57, 68, 79, 90, 99, 88, 77, 66, 55, 44, 33, 22, 23, 34, 45, 78, 89, 100]

In [58]:
m1 = [23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
print(m1)
for i in range(21) :
    m1[i] = m1[i]+1
print(m1)

[23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
[24, 35, 46, 57, 68, 79, 90, 99, 88, 77, 66, 55, 44, 33, 22, 23, 34, 45, 78, 89, 100]

In [68]:
# 8. If university allows 5 grace marks, allot grace marks to students.

m1 = [23, 34, 35,38,45, 56, 67, 78, 89,39, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
print(m1)
# 35 = > 40
for i in m1 :
    if i >=35 and i <= 39 :
        m1[ m1.index(i)]="40*"
print(m1)

[23, 34, 35, 38, 45, 56, 67, 78, 89, 39, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
[23, 34, '40*', '40*', 45, 56, 67, 78, 89, '40*', 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]

## List Comprehension:

In [ ]:
# It is an elegant way of creating new lists.

In [ ]:
# Syntax : list_name =[               for i in         seq]

In [71]:
# Create a List of Squares of numbers from 1 to 100.

b1=[i **2     for i in range(1,100)]
print(b1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [69]:
a1 = []
for i in range (1,101):
    a1.append(i ** 2)

print(a1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [ ]:
# 2. Wap  using list comprehension 

m1 = [23, 34, 35,38,45, 56, 67, 78, 89,39, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]

# i cube of 1 to 25.
# ii. table of given numbers.
# iii. add 1 into all marks.
# iv.

In [73]:
# i cube of 1 to 25
m1 = [i **3    for i in range(1,25)]
print(m1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824]

In [74]:
# ii. table of given numbers.

n = int (input("Enter a nummber  :"))
tb = [n*i   for i in range(1,11)]
print(tb)

Enter a nummber  : 34

[34, 68, 102, 136, 170, 204, 238, 272, 306, 340]

In [76]:
# iii. add 1 into all marks.

m1 = [23, 34, 35,38,45, 56, 67, 78, 89,39, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
print(m1)

m2 = [i+1  for i in m1]
print(m2)

[23, 34, 35, 38, 45, 56, 67, 78, 89, 39, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
[24, 35, 36, 39, 46, 57, 68, 79, 90, 40, 99, 88, 77, 66, 55, 44, 33, 22, 23, 34, 45, 78, 89, 100]

In [ ]:
# Create separate list of 
# i. Pass marks
# ii . Fail Students
# iii. marks in the range of 55 to 77.
# iv. result Pass/ Fail.

In [78]:
# i. Pass marks
m1 = [23, 34, 35,38,45, 56, 67, 78, 89,39, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
p = [ i       for i in m1   if i >=40]
print(p)

[45, 56, 67, 78, 89, 98, 87, 76, 65, 54, 43, 44, 77, 88, 99]

In [79]:
# ii . Fail Students
m1 = [23, 34, 35,38,45, 56, 67, 78, 89,39, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
p = [i    for i in m1   if i<=40]
print(p)

[23, 34, 35, 38, 39, 32, 21, 22, 33]

In [82]:
# iii. marks in the range of 55 to 77.
m1 = [23, 34, 35,38,45, 56, 67, 78, 89,39, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]
n = [i   for i in m1  if i >=55 and i <= 77]
print(n)

[56, 67, 76, 65, 77]

In [86]:
# iv. result Pass/ Fail.
m1 = [23, 34, 35,38,45, 56, 67, 78, 89,39, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]

R =["pass"  if i>=40 else "fail"     for i in m1 ]
print(R)

['fail', 'fail', 'fail', 'fail', 'pass', 'pass', 'pass', 'pass', 'pass', 'fail', 'pass', 'pass', 'pass', 'pass', 'pass', 'pass', 'fail', 'fail', 'fail', 'fail', 'pass', 'pass', 'pass', 'pass']

In [89]:
# >66 : dist    >=60 % : first    >40%  : Second Class

m1 = [23, 34, 35,38,45, 56, 67, 78, 89,39, 98, 87, 76, 65, 54, 43, 32, 21, 22, 33, 44, 77, 88, 99]

R1 = [ "Distinction" if i>=60 else  "first class" if i<=60  else "Second Class"for i in m1]

# for loop using :
for i, j  in zip(m1,R1):
    print(i, "\t",j)
print(R1)

23 	 first class
34 	 first class
35 	 first class
38 	 first class
45 	 first class
56 	 first class
67 	 Distinction
78 	 Distinction
89 	 Distinction
39 	 first class
98 	 Distinction
87 	 Distinction
76 	 Distinction
65 	 Distinction
54 	 first class
43 	 first class
32 	 first class
21 	 first class
22 	 first class
33 	 first class
44 	 first class
77 	 Distinction
88 	 Distinction
99 	 Distinction
['first class', 'first class', 'first class', 'first class', 'first class', 'first class', 'Distinction', 'Distinction', 'Distinction', 'first class', 'Distinction', 'Distinction', 'Distinction', 'Distinction', 'first class', 'first class', 'first class', 'first class', 'first class', 'first class', 'first class', 'Distinction', 'Distinction', 'Distinction']