In [ ]:
# Class
# Object
# Constructors
# Inheritance
# Polymorphisum
# Encapsulation
# Data abstraction

# 1. Class :

# Class is collection of objects.
# Syntax : class class-name :

In [1]:
# Globally access
x = 100
y = 200

In [2]:
x,y

(100, 200)

In [2]:
# create a class abc
class abc  :
    x = 111
    y = 222

# 2.Object

# Object is current instance of the class.
# Syntax : object_name = class_name()

In [10]:
# create an object of class abc.

a2 = abc()
a12 = abc()
a21 = abc()
a20 = abc()

In [11]:
# accessing class attribytes through object1.
print(a2.x, a2.y)
print(a12.x, a12.y)
print(a21.x, a21.y)
print(a20.x, a20.y)

111 222
111 222
111 222
111 222

In [12]:
# create a class emp with ID, name, salary attributes.
# Display the same by creating its objects.

class emp:
    id = 1234
    name = "Gayatri"
    sal = 4567

In [15]:
# Create a object of class emp
e1 = emp()
print(e1.id, e1.name,e1.sal)

1234 Gayatri 4567